body {
    height: 100vh;
    width: 100vw;
    display:flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
    background-color: black;
    font-family: 'Dosis', sans-serif;
}

#score-board {
    display: grid;
    grid-template: 6vh / repeat(5, 1fr);
    align-items: center;
    justify-self: space-between;
    width:89vmin;
    font-size: 3.5vh;
    cursor: default;
    color: #494949;
}

#score-board > div {
    justify-self: center;
}

#difficulty {
    order: 1;
}

#difficulty:hover {
    cursor: pointer;
    color: yellow;
}

#score {
    order: 2;
}

#last-score {
    order: 3;
}

#personal-best {
    order: 4;
}

#reset {
    order: 5;
}

#reset:hover {
    cursor: pointer;
    color: whitesmoke;
}

#reset:active {
    color: red;
}

#game-board {
    outline: 2px solid #414141;
    border-radius: 4px;
    width:89vmin;
    height:89vmin;
    display: grid;
    grid-template: repeat(21, 1fr) / repeat(21, 1fr);
    margin-top: .2em;
    cursor: none;
}

.snake {
    background-color: yellowgreen;
    border-radius: 40%;
    margin: .25vmin;
}

.snake:first-of-type {
    background-color: rgb(182, 255, 72);
}

.food {
    background-color: whitesmoke;
    border-radius: 50%;
    margin: .8vmin;
}

@media screen and (max-width: 450px) {
    #score-board {
        font-size: 1em;
    }
}