body {
    height: 100vh;
    width: 100vw;
    display:flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
    background-color: black;
}

#grid {
    display: grid;
    grid-template: 1fr / repeat(5, 1fr);
    background-color: black;
    width: 100vw;
}

#difficulty-wrapper {
    grid-column: 2;
    font-size: 1rem;
    align-self: center;
    justify-self: center;
    transform:translateY(-20%);
    margin-right: 20px;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
    input[type='range'] {
      overflow: visible;
      width: 110px;
      -webkit-appearance: none;
      background-color: #414141;
      border-radius: 5px;
    }
    
    input[type='range']::-webkit-slider-runnable-track {
      -webkit-appearance: none;
      color: #414141;
      height: 3px;
    }
    
    input[type='range']::-webkit-slider-thumb {
      width: 25px;
      -webkit-appearance: none;
      height: 25px;
      cursor: pointer;
      background: black;
      border: solid #414141 3px;
      border-radius: 50%;
      transform: translateY(-44%);
    }
}

#score-board {
    grid-column: 3;
    font-size: 2rem;
    text-align: center;
    color: #494949;
    background-color: black;
    margin: 10px 5px 10px 0px;
}

#personal-best {
    grid-column: 4;
    font-size: 2rem;
    text-align: center;
    color: #494949;
    background-color: black;
    margin: 10px 10px 10px 5px;
}

#game-board {
    background-color: black;
    outline: 2px solid #414141;
    width:100vmin;
    height:100vmin;
    display: grid;
    grid-template: repeat(21, 1fr) / repeat(21, 1fr);
}

.snake {
    background-color: yellowgreen;
    border: .25vmin solid black;
    border-radius: 40%;
    margin: .2vmin;
}

.snake:first-of-type {
    background-color: rgb(182, 255, 72);
}

.food {
    background-color: whitesmoke;
    border: .25vmin solid black;
    border-radius: 50%;
    margin: .8vmin;
}
